<!DOCTYPE html>
<html>
<head>
  <title>manyoustep1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
タスク管理システム
  </header>

<%= yield %>

  <footer>
    <p>タスク管理システム</p>
  </footer>

</body>
</html>
